<!DOCTYPE html>
<html>
<head>
  <title>Testingsys</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>
<h2> dkfjghldjhlkjhkl </h2>

<%= yield %>

</body>
</html>
